<!-- <app-cabecera></app-cabecera> -->

<h1 class="container bg-dark text-white text-center my-4 py-4">ngif show = {{show}}</h1>

<section class="container">
  <button class="btn btn-warning" (click)="show=!show">Acción</button>
  <p class="text-info" *ngIf="show; else showDos">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur eos
    necessitatibus incidunt
    repellendus? Aliquam totam assumenda, ipsam, praesentium voluptatibus quisquam incidunt sed nostrum quidem
    inventore, numquam fugiat at atque dicta.</p>

  <ng-template #showDos>
    <p class="text-danger">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, provident. Molestiae
      asperiores voluptas, quisquam facilis incidunt voluptatum, vel nisi id atque in ea esse nam cum omnis maiores.
      Minima, cupiditate.</p>
  </ng-template>
</section>

<h2 class="container bg-dark text-white text-center my-4 py-4">ngClass fondo = {{fondo}}</h2>

<section class="container">
  <button class="btn btn-dark mb-3" (click)="fondo='bg-dark'">Primero</button>
  <button class="btn btn-danger ml-2 mb-3" (click)="fondo='bg-danger'">Segundo</button>

  <p class="text-info" [ngClass]="fondo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci culpa vitae
    illum, quae officiis dolor blanditiis similique cupiditate aliquam dolore, minus dignissimos soluta repudiandae
    libero! Quisquam enim reiciendis eum unde!</p>
</section>

<h2 class="container bg-dark text-white text-center my-4 py-4">condicional en ngClass activo = {{activo}}</h2>

<section class="container">
  <button class="btn btn-dark mb-3" (click)="activo='primero'">Primero</button>
  <button class="btn btn-danger ml-2 mb-3" (click)="activo='segundo'">Segundo</button>

  <p class="text-info d-none" [ngClass]="{'d-block':activo=='primero'}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur eos
    necessitatibus incidunt
    repellendus? Aliquam totam assumenda, ipsam, praesentium voluptatibus quisquam incidunt sed nostrum quidem
    inventore, numquam fugiat at atque dicta.</p>

    <p class="text-danger d-none" [ngClass]="{'d-block':activo=='segundo'}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, provident. Molestiae
      asperiores voluptas, quisquam facilis incidunt voluptatum, vel nisi id atque in ea esse nam cum omnis maiores.
      Minima, cupiditate.</p>
</section>


<app-ng-for-tabla></app-ng-for-tabla>

<!-- <app-footer></app-footer> -->
